body {
    margin: 0 auto;
    text-align: center;
}
.holder {
    border: dotted #404040 3px;
    border-radius: 25px;
    min-height: 150px;
    padding: 2rem;
    margin: 2rem;
    vertical-align: middle;
}
.white-border {
    border: solid black 3px;
}
